<footer class="footer">
  <article class="footer__article1">
    <p>ARTICLES</p>
    <p>BOOKS</p>
    <p>EVENTS</p>
    <p>REASONS</p>
    <p>TIPS</p>
  </article>
  <article class="footer__article2">
    <a href="https://adalab.es/" class="footer__article2--link">TWITTER</a>
    <a href="https://adalab.es/" class="footer__article2--link">INSTAGRAM</a>
    <a href="https://adalab.es/" class="footer__article2--link"
      >MASTODON.SOCIAL</a
    >
  </article>
  <p class="footer__2023">&copy;2023</p>
  <p class="footer__text">
    we <span class="footer__text--heart">❤︎</span> components
  </p>
</footer>
