<footer class="footer">
  <ul class="footer__list1">
    <li>
      <a href="https://adalab.es/" class="footer__list1--link1">ARTICLES</a>
    </li>
    <li>
      <a href="https://adalab.es/" class="footer__list1--link1">BOOKS</a>
    </li>
    <li>
      <a href="https://adalab.es/" class="footer__list1--link1">EVENTS</a>
    </li>
    <li>
      <a href="https://adalab.es/" class="footer__list1--link1">REASONS</a>
    </li>
    <li>
      <a href="https://adalab.es/" class="footer__list1--link1">TIPS</a>
    </li>
  </ul>

  <ul class="footer__list2">
    <li>
      <a href="https://adalab.es/" class="footer__list2--link">TWITTER</a>
    </li>
    <li>
      <a href="https://adalab.es/" class="footer__list2--link">INSTAGRAM</a>
    </li>
    <li>
      <a href="https://adalab.es/" class="footer__list2--link"
        >MASTODON.SOCIAL</a
      >
    </li>
  </ul>

  <div>
    <p class="footer__2023">&copy;2023</p>
    <p class="footer__text">
      we <span class="footer__text--heart">❤︎</span> components
    </p>
  </div>
</footer>
