<header class="header">
  <nav class="header__nav">
    <a href="https://adalab.es/">
      <img
        src="./assets/images/ico-menu.svg"
        alt="icono formado por tres líneas horizontales cada una encima de la otra"
        class="header__nav--icomenu"
      />
    </a>
  </nav>
  <div class="header__container">
    <h1 class="header__container--title">ANONYMOUS PROXY</h1>
    <p class="header__container--text">In hac habitasse platea dictumst.</p>

    <button class="header__container--button">
      <a href="https://adalab.es/">
        <img
          src="./assets/images/ico-scroll-down.svg"
          alt="icono formado por una flecha apuntando hacia arriba"
          class="header__nav--icoarrow"
        />
      </a>
    </button>
  </div>
</header>
