<section class="sectionblue">
  <h2 class="sectionblue__title">3 Reasons To Purchase</h2>

  <include
    class="sectionblue__reason1"
    src="./reasoncard.html"
    title="Ut sed metus"
    text="Lorem ipsum dolor sit amet, consecteur."
  ></include>

  <include
    class="sectionblue__reason2"
    src="./reasoncard.html"
    title="Curabitur ac erat"
    text="Mauris mattis urna quis lorem moltie."
  ></include>

  <include
    class="sectionblue__reason3"
    src="./reasoncard.html"
    title="Morbi dictum"
    text="Aliquam in dolor et dolor tincidunt."
  ></include>

  <button class="sectionblue__button1">
    <a href="https://adalab.es/" class="sectionblue__button1--link"
      >More reasons</a
    >
  </button>

  <button class="sectionblue__button2">
    <a href="index.html">
      <img
        src="./assets/images/ico-arrow.svg"
        alt="icono formado por una flecha apuntando hacia arriba"
        class="sectionblue__button2--icoarrow"
      />
    </a>
  </button>
</section>
