<section class="sectionwhite">
  <p class="sectionwhite__insomnia">Insomnia Tips</p>
  <h2 class="sectionwhite__title">Looking Through A Window</h2>
  <p class="sectionwhite__text">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. In facilis
    quisquam error, itaque doloremque ducimus, quod odio commodi dolorum
    possimus quaerat nobis voluptas dolorem.
  </p>
 <button class="sectionwhite__button"> <a href="https://adalab.es/" class="sectionwhite__button--link"
    >Go</a</button>
  
</section>
