$bluefooter: #0271bc;
$colorwhite: #ffffff;
$font-title: "Roboto Slab";
$font-text: "Roboto";
$lightblue: #8ccbea;
$colorblack: #000000;
$colorgrey: #4a4a4a;
$colornaranja: #f26002;
$iceblue: #eff9ff;