.footer {
    width: 100%;
    background-color: $darkgreyblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $colorwhite;



    &__list1 {
        font-size: 1.2rem;
        margin-top: 55px;
        line-height: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        &--link1{
            color: $colorwhite;
            text-decoration: none;
        }

    }

    &__list2 {
        margin-top: 25px;
        line-height: 20px;
        width: 100%;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;

        &--link {
            color: $colorwhite;
            text-decoration: none;
        }
    }

    &__2023 {
        margin-top: 25px;
        font-size: 1.2rem;
    }

    &__text {
        margin-top: 15px;
        margin-bottom: 30px;
        font-size: 1.2rem;

        &--heart {
            color: $colornaranja;
        }
    }
}