.footer {
    width: 100%;
    background-color: $darkgreyblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $colorwhite;
    padding-top: 10px;
    



    &__list1 {
        font-size: 1.2rem;
        margin-top: 55px;
        line-height: 25px;
        width: 100%;

        &--link1{
            color: $colorwhite;
            text-decoration: none;
        }

    }

    &__list2 {
        margin-top: 25px;
        line-height: 25px;
        width: 100%;
        font-size: 1.2rem;
        

        &--link {
            color: $colorwhite;
            text-decoration: none;
        }
    }

    &__2023 {
        margin-top: 25px;
        font-size: 1.2rem;
    }

    &__text {
        margin-top: 15px;
        margin-bottom: 50px;
        font-size: 1.2rem;

        &--heart {
            color: $colornaranja;
        }
    }
}

@media screen and(min-width: 768px){
    .footer{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: baseline;
        padding-top: 20px;
        height: 240px;
        &__list1{
            width: 210px;
            text-align: left;
            margin-top: 10px;
            font-size: 1.5rem;
            line-height: 30px;
        }
        &__list2{
            width: 210px;
            order: -1;
            text-align: left;
            font-size: 1.5rem;
            line-height: 30px;
        }
        div{
            width: 210px;
            text-align: left;
            
        }
        &__2023{
            font-size: 1.5rem;
        }
        &__text{
            font-size: 1.5rem;
        }
}
}

