.footer {
    width: 100%;
    background-color: $darkgreyblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $colorwhite;



    &__article1 {

        margin-top: 30px;
        line-height: 16px;


    }

    &__article2 {
        margin-top: 20px;
        line-height: 16px;
        width: 100%;
        display: flex;
        flex-direction: column;

        &--link {
            color: $colorwhite;
            text-decoration: none;
        }
    }

    &__2023 {
        margin-top: 20px;
    }

    &__text {
        margin-top: 5px;
        margin-bottom: 30px;

        &--heart {
            color: $colornaranja;
        }
    }
}