.sectionwhite{
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 10px;
    padding: 30px;
    margin: 10px 0 20px 0;

    &__insomnia{
        width: 100%;
        color: $lightblue;
        font-size: 1.2rem;
    }

    &__title{
        width: 100%;
        font-family: $font-title;
        font-size: 2rem;
        color: $colorblack;
        line-height: 26px;
    }

    &__text{
        font-size: 1.5rem;
        line-height: 24px;
        color: $colorgrey;
    }

    &__button{
        width: 70px;
        height: 40px;
        border-radius: 22.5px;
        background-color: $colorwhite;
        border: solid 2px $colornaranja;
        color: $colornaranja;
        margin-top: 10px;
        text-decoration: none;
        
        a:hover{
            color: $darkgreyblue;
            font-size: 2rem;
        }
            &--link{
                color: $colornaranja;
                font-size: 1.8rem;
                text-decoration: none;
                font-family: "Roboto";
            }
    }
}

@media screen and(min-width: 768px){
.sectionwhite{
    margin: 10px 20px 30px 20px;
}
}

@media screen and (min-width: 1280px){
.sectionwhite{
    margin: 20px 275px 30px 275px;
    &__button{
        width: 160px;
    }
}
}