.sectionblue{
    width: 100%;
    background-color: $iceblue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 90px 90px 90px;
    gap: 20px;

    &__title{
        width: 100%;
        color: $colorblack;
        text-align: center;
        font-family: $font-title;
        font-size: 2rem;
        margin: auto;
        margin-top: 30px;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    &__reason1{
        grid-row-start: 2;
        grid-row-end: 3;
    }

    &__reason2{
        grid-row-start: 3;
        grid-row-end: 4;
    }

    &__button{
        grid-row-start: 4;
        grid-row-end: 5;
        width: 185px;
        height: 45px;
        border-radius: 22.5px;
        display: flex;       
        justify-content: center;
        align-items: center;
        background-color: $colornaranja;
        border: none;
        margin: auto;
        
            &--link{
                color: $colorwhite;
                text-decoration: none;
            }
    }
}

.article__reason{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--title{
        color: $colorblack;
        font-family: $font-title;
        margin-bottom: 15px;
    }

    &--text{
        color: $colorblack;
        margin-left: 100px;
        margin-right: 100px;
        text-align: center;
        line-height: 15px;

    }
}